
@media (max-width: 991px) {
	.carousel {
		width: 90%;
		margin-left: 15px;
	}
	.carousel-inner > .item > img {
		width: 100%;
	}
	.bordered-image-triple,
	.bordered-image-tours {
		width: 95%;
		margin-left: 5px;
		margin-top: 10px;
	}
	.participation-voice-rectangle {
		width: 95%;
		margin-top: 10px;
		margin-left: 2%;
		border: 2px solid red;
	}
	.participation-voice-text {
		margin-top: 20px;
	}
	.participation-voice-image {
		width: 40%;
		height: 40%;
		margin-left: 30%;
	}
}

@media (min-width: 992px) {
	.carousel-inner > .item > img,
	.carousel {
		width: 720px;
		height: 445px;
	}
	.bordered-image-triple,
	.bordered-image-tours {
		width: 30%;
		margin-left: 3%;
	}
	.participation-voice-rectangle {
		width: 45%;
		float: left;
		margin-left: 2%;
	}
	#all-tours {
		width: 1100px;
	}
	.participation-voice-text {
		margin-top: 0px;
	}
	.participation-voice-image {
		width: 20%;
		height: 20%;
		top: 20%;
		position: relative;
		margin-left: 0px;
	}
}

.facebook-like {
	padding:20px;
}

.participation-voice-text {
	font-size: 150%;
}

.bordered-image-triple {
	border: 5px solid #999;
	padding: 0px;
	border-radius: 10px;
	opacity: 1;
	float: left;
}

.bordered-image-triple:hover {
	border: 5px solid black;
	opacity: 0.7;
}

.bordered-image-tours {
	border: 5px solid #999;
	border-radius: 10px;
}

.bordered-image-tours:hover {
	border: 5px solid black;
	opacity: 0.7;
}

.carousel-control {
	opacity: 1;
	padding-top: 25%;
	font-size: 300%;
} 

.carousel-indicators {
	background-color: rgba(0,0,0,0.6);
	border-radius: 20px;
	width: 130px;
	margin-left: -65px;
	margin-bottom: -10px;
}

.carousel-control.right {
	background-image: linear-gradient(to right, transparent 0%, rgba(0,0,0,0.1) 100%);
}

.carousel-control.right:hover {
	background-image: linear-gradient(to right, transparent 0%, rgba(0,0,0,0.5) 100%);
}

.carousel-control.left {
	background-image: linear-gradient(to left, transparent 0%, rgba(0,0,0,0.1) 100%);
}

.carousel-control.left:hover {
	background-image: linear-gradient(to left, transparent 0%, rgba(0,0,0,0.5) 100%);
}

.mid-top-text {
	margin-top: -40px;
	padding-left: 10px;
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-size: 200%;
}

.participation-voice-rectangle {
	background-color: rgba(200,247,197,0.6);
	border: 5px solid rgba(200,247,197,0.6);
	border-radius: 10px;
	height: auto;
	padding: 20px;
	padding-left: 10px;
	padding-right: 5px;
}

#all-tours {
	overflow-y: hidden;
	overflow-x: scroll;
	height: 280px;
	white-space: nowrap;
}

#all-tours img {
	margin-left: 10px;
}

.fb-page {
	height:150px;
}