@media (max-width: 991px) {
	#btn-join-tour {
		width: 95%;
		margin-left: 10px;
	}
	#tour-banner {
		width: 100%;
		height: 200px;
	}
}

@media (max-width: 400px) {
	table {
		margin-left: -35px;
	}
}

#tour-description {
	margin-top: 10px;
	padding: 50px;
	background-color: rgba(200,247,197,0.3);
	border-radius: 20px;
}

#tour-banner {
	width: 100%;
	height: 200px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: rgba(255,255,255,0.5);
}

.key {
	font-weight: bold;
}
